@keyframes hide {
    0% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;
        padding: 20px;
        margin-bottom: 10px;
    }
    100% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}
.banner
{
    height: 100%;
    position: relative;
}
.slider
{
    width: 100%;
        
}
.carouseel-caption
{ 
    font-family: sans-serif;
max-height: 350px;
    max-width: 508px;
    text-align: left;
    right: auto;
    left: 60px;
    
    
}
.carouseel-caption h1
{
    font-size: 70px;
}
.delete  {
    float: right;
}

.text-box {
    border-radius: 25px;
     box-shadow: 10px 10px 5px grey;
    background-color:gainsboro;
    padding: 20px;
    margin-top: 20px;
    margin-bottom:25px;
    margin-left: 35px;
    margin-right: 35px;
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

body {
    padding-bottom: 50px;
}